<div class="page-header">
    <h1>Images App</h1>
</div>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-4">Posts: {{stats?.posts}}</div>
                <div class="col-lg-4 text-center">
                    <a href="{{apiUrl}}/api/posts/download-export?authorization={{user.token}}" class="btn btn-success"
                       (click)="downloadExport()" *ngIf="user">Export</a>
                </div>
                <div class="col-lg-4 text-right">Views: {{stats?.views}}</div>
            </div>
        </div>
    </div>
    <login *ngIf="!user"></login>
    <app-posts-upload [uploaded]="uploaded" (uploadedChange)="uploadedChange($event)" *ngIf="user"></app-posts-upload>
    <div class="row" *ngIf="posts">
        <div class="panel panel-default">
            <div class="panel-body text-center" *ngFor="let post of posts">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{post.title}}</h3>
                    </div>

                    <a href="{{apiUrl}}/api/posts/{{post.id}}/download-image?authorization={{user.token}}"
                       *ngIf="user">
                        <img src="{{post.image_path}}" alt="{{post.title}}">
                    </a>
                    <img src="{{post.image_path}}" alt="{{post.title}}" *ngIf="!user">
                </div>
            </div>
        </div>
    </div>
</div>