<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="form" class="form-horizontal" (ngSubmit)="upload()" #f="ngForm">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="image_title" id="image_title"
                               placeholder="Image title" [(ngModel)]="model.title"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="file" class="form-control" name="single" id="single" ng2FileSelect
                               [uploader]="uploader"/>
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary">Upload file</button>
                    </div>
                    <div class="col-sm-4 text-right">
                        <button type="button" class="btn btn-default" (click)="logout()">Logout</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>